@rendermode InteractiveServer

<div class="card" style="width: 18rem;">
    @if(CardHeader is not null)
    {
        <BootStrapCardHeader CardHeader="CardHeader"/>
    }

    @if (ChildContent is not null)
    {
        <img src="..." class="card-img-top" alt="...">
    }

    <div class="card-body">
        @if (CardText is not null)
        {
            @CardText
        }
        else if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <h5 class="card-title">@Title</h5>
            <p class="card-text">@Description</p>
            <button class="btn btn-primary" @onclick="EventClick">@ButtonText</button>
        }
    </div>

    @if (CardFooter is not null)
    {
        <div class="card-footer text-body-secondary">
            @CardFooter
        </div>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string ButtonText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback EventClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? CardHeader { get; set; }

    [Parameter]
    public RenderFragment? CardText { get; set; }

    [Parameter]
    public RenderFragment? CardFooter { get; set; }

    private void OnClick()
    {
        Title = "Botão Clicado";
    }
}
