@implements IDisposable

<div class="top-row px-4">
    <SectionOutlet SectionName="Top" />
    <span>Contagem: @State.Counter</span><a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
</div>

@code {
    [Inject]
    public StateContainer State { get; set; } = null!;

    protected override void OnInitialized()
    {
        State.Notification += StateHasChanged;
    }

    public void Dispose()
    {
        State.Notification -= StateHasChanged;
    }
}
