@page "/parent-component"

<CascadingValue Value="userInfo">
    <h1>User Information</h1>
    <ChildComponent />
    <AnotherChildComponent />
</CascadingValue>

@code {
    private UserInfo userInfo = new UserInfo
    {
        Name = "John Doe",
        Email = "john.doe@example.com"
    };
}


