@page "/router"
@page "/router/{group}/{id:int?}"

@* tudo que for colocado após a url vai para a variável *@ 
@page "/routing/{*all}" 


@attribute [Route(RouterConstants.RouterHub)]
@rendermode InteractiveServer

<h3>Router Hub</h3>

<div>
    Todos: @All  <br />
    Grupo: @Group <br />
    Id: @Id <br />
    Nome: @Nome <br />
    Nome 2: @Nome2 <br />
    <input class="form-control" @bind="Router" /><br />
    <button class="btn btn-primary" @onclick="OnClick">Navegar</button>
</div>

@code {
    [Parameter]
    public string? All { get; set; }

    [Parameter]
    public string? Group { get; set; }

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromQuery]
    public string? Nome { get; set; }

    [SupplyParameterFromQuery(Name = "dono")]
    public string? Nome2 { get; set; } //router?nome=Edimar%20Lopes&dono=Jaque

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    public string Router { get; set; } = string.Empty;

    private void OnClick()
    {
        NavigationManager.NavigateTo(Router);
    }
}
